h3 {
    font-size: 25px !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn-success:hover {
    background-color: aquamarine;
}

canvas {
    animation-name: blinking_lights;
    animation-duration: 4s;
    animation-iteration-count: infinite;
   
}

@keyframes blinking_lights {
    from {
        box-shadow: 1px 1px 30px deeppink;
    }
    to {
        box-shadow: 1px 1px 30px yellow;
    }
}